/* Styling untuk baris tabel */
.table tbody tr:hover {
    background-color: #f5f5f5;
}

/* Styling untuk tombol */
.btn-warning, .btn-danger {
    border-radius: 5px;
}

/* Styling untuk pagination */
.pagination {
    justify-content: center;
    margin-block-start: 20px;
}

/* Hover effect untuk gambar */
.table img:hover {
    opacity: 0.8;
}
